<div class="marvel-banner"></div>
  <section class="container p-5">
    <div class="row justify-content-center my-4">
      <div class="col col-md-8">
        <h1 class="mb-5 text-center">¿Qué es este proyecto?</h1>
        <p class="py-2">
          Este es un proyecto <strong>ultra secreto</strong> en el cual se recopila información clasificada acerca de las organizaciones de superhéroes conocidas de la franquicia de Marvel. Presenta una base de datos que muestra la información sobre algunas organizaciones. ¡Esta información es de tipo clasificada!
        </p>
        <p>Para usar nuestros servicios, se requieren de habilidades avanzadas que solo un <strong>conocedor como tú</strong> posee, para ello te sugerimos primero levantar nuestros servicios confidenciales de bases de datos.</p>
        <a href="https://github.com/ManuDve/api-microservicios">
          Primero sigue estas instrucciones.
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <h1 class="mb-5 text-center">¿Por qué Marvel?</h1>
        <p class="py-2">
          El universo marvel está compuesto por múltiples multiversos, por lo tanto abarcar otras franquicias como DC en estos momentos es un desafío que aún no vamos a afrontar. Por eso, nos enfocamos en la información que tenemos disponible, nuestros agentes están constantemente buscando aportar a nuestra base de datos.
        </p>
      </div>
    </div>
  </section>
